.setCard {
  width: 200;
  height: 270;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 5;
}
.setTitle {
  font-size: '16px';
  font-weight: bold;
}
.setDuration {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3;
}
.setInfoContainer {
  flex-direction: row;
  align-items: center;
  gap: 10;
}
